.invalid {
	background-color: red;
	color: white !important;
}

.incomplete {
	color: gray !important;
}

#editor {
	display: none;
	width: 100%;
	height: 100%;
}

.error {
	border: 1px solid red;
	border-radius: 3px;
	background-color: rgba(255, 0, 0, 0.5);
	padding: 5px;
	font-size: 2em;
	font-family: "Helvetica", Arial, sans-serif;
}
